header {
  background:#232a34;
  border-style: round;
  padding:0.01em;

  .logo {
      font-weight: bold;
      font-size: 1.5em;
      color: rgb(221, 208, 208);

    }

  nav {
    justify-content: right;

    ul {
      list-style-type: none;
      margin: 0; padding: 0; 

      li {
        float: left;

        a {
            color: rgb(221, 208, 208);
            padding: 1.5em;
            text-transform: uppercase;
            font-size: 1.2em;
        }
      }
    }
  }
}


